@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
html {
  font-family: 'Inter', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

// global scss styling

.container {
  width: 100%;
  height: 100%;
  margin: 1rem auto 1rem;
  max-width: 90vw;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title {
    margin: 0 !important;
    text-transform: capitalize;
  }
}

// responsive sizing

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .container {
    width: 90% !important;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  .container {
    width: 50% !important;
  }
}
